* {
	padding: 0;
	margin: 0;
}

body{
	background-color:rgba(225,225,225,0.3);
}
#d0 {
	margin-left: 30px;
	width: 640px;
	height: 900px;
	border: 3px solid black;
	float: left;
	
}

.nianling{
	display: block;
	width: 600px;
	height: 50px;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 20px;
}

.nianling li{
	float: left;
	width: 60px;
	height: 30px;
	border: 3px solid pink;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	list-style: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	background-color: darkorange;
}
.nianling li:hover {
	background: #03e9f4 !important;
	color: #050801;
	box-shadow: 0 0 0px #03e9f4,0 0 0px #03e9f4,0 0 0px #03e9f4,0 0 0px #03e9f4;
}

.fenyeul {
	display: block;
	width: 600px;
	height: 50px;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 20px;
}

.fenyeul li {
	float: left;
	width: 30px;
	height: 30px;
	border: 3px solid pink;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	list-style: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
}
.fenyeul li:hover {
	background: #03e9f4 !important;
	color: #050801;
	box-shadow: 0 0 0px #03e9f4,0 0 0px #03e9f4,0 0 0px #03e9f4,0 0 0px #03e9f4;
}

.whitee {
	background-color: white;
	color: black;
}

.redd {
	background: #FF0000 !important;
	color: #050801;
	box-shadow: 0 0 0px #FF0000,0 0 0px #FF0000,0 0 0px #FF0000,0 0 0px #FF0000;
}


.tongji{
	display: block;
	width: 600px;
	height: 50px;
	float: left;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 50px;
	font-size: 30px;
}
#d0 #d00{
	width: 640px;
	height: 640px;
	overflow: hidden;
	margin-top: 15px;


}

#d0 #d00 .renwudiv {
	display: block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	cursor: pointer;

}


#d0  #d00 .renwudiv:hover .ziliaoka {
	top: 32%;
	transition: all .7s ease-out;
}

#d0  #d00 .renwudiv .ziliaoka {

	overflow: hidden;
	list-style: none;
	width: 200px;
	height: 135px;
	color: #FFF;
	background-color: rgba(14, 14, 14, 0.4);
	position: absolute;
	bottom: -36px;
	text-align: center;
	transition: all .7s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


#d0  #d00 .renwudiv .ziliaoka li {

	list-style: none;
}

#d0  #d00 .renwudiv .ziliaoka li strong,span {
	font-size: 14px;

}
#d0  #d00 .renwudiv .ziliaoka li:nth-of-type(2) {
	color:red;

}

#d1 {
	background-color:rgba(225,225,225,0.3);
	width: 900px;
	height: 900px;
	position: relative;
	left: 750px;
	border: 3px solid black;

}

#d1 .textdiv {
	writing-mode: vertical-rl;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 5vh;
	color: #FFF;
	text-shadow:
		1px 1px 0 #CCC,
		2px 2px 0 #CCC,
		/* end of 2 level deep grey shadow */
		3px 3px 0 #444,
		4px 4px 0 #444,
		5px 5px 0 #444,
		6px 6px 0 #444;
	/* end of 4 level deep dark shadow */
}

#d1 .divimgda {
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background-color: pink;
	position: absolute;
	top: 100px;
	left: 100px;

}

#d1 .divimgda .divimgzhong {
	width: 120px;
	height: 120px;
	display: inline-block;
	position: absolute;
	text-align: center;
	left: 50%;
	transform-origin: 0px 350px;
	transform: rotate(calc(360deg/10*var(--b)));
	overflow: visible;
}

#d1 .divimgda .divimgzhong .divimgxiao {
	position: absolute;
	width: 180px;
	height: 180px;
	font-size: 25px;
	/* text-transform: uppercase; */
	text-align: center;
	left: 100%;
	transform: rotate(calc(360deg/-10*var(--b)));
}

#d1 .divimgda .divimgzhong .divimgxiao .ims {

	width: 120px;
	border-radius: 50%;
	height: 120px;
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 25px;

}

#d1 .divimgda .divimgzhong .divimgxiao span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: blue;
	font-size: 15px;
}

#d1 .divimgda .renwuyuanquan {
	border-radius: 50%;
	width: 450px;
	height: 450px;
	display: inline-block;
	position: absolute;
	margin: auto;
	top: 125px;
	left: 125px;

}

#d1 .divimgda .xiaoyuanquandiv {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 290px;
	left: 290px;
	background-color: white;
	border-radius: 50%;

}

#d2 {
	width: 130px;
	height: 150px;
	position: absolute;
	right: 100px;
	top: 0;
}



#d2 p {
	float: left;
	width: 100px;
	height: 50px;
	font-size: 20px;

	line-height: 50px;
	margin-left: 0;

}

#d2 input:nth-of-type(1) {
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 10px;

}

#d3 {
	position: absolute;
	top: 180px;
	right: 100px;
	font-size: 15px;
}


canvas {
	position: absolute;
	margin-top: 300px;
	margin-left: 10px;
	width: 200px;
}


.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
	outline: none;
}

/* 14 */
.btn-14 {
	background: rgb(255, 151, 0);
	border: none;
	z-index: 1;
}

.btn-14:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 5px;
	background-color: #eaf818;
	background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%),
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
	7px 7px 20px 0px rgba(0, 0, 0, .1),
	4px 4px 5px 0px rgba(0, 0, 0, .1);
	transition: all 0.3s ease;
}

.btn-14:hover {
	color: #000;
}

.btn-14:hover:after {
	top: auto;
	bottom: 0;
	height: 100%;
}

.btn-14:active {
	top: 2px;
}
